#app3 {
}
#app3 .square {
  border: 3px solid yellowgreen;
  background: yellowgreen;
  margin-top: 10px;
  margin-left: 10px;
  width: 10vw;
  height: 10vh;
  transition: transform 1s;
}
#app3 .square.active {
  transform: translateX(15vw);
}
